<section data-ng-controller="HomeController">
  <div id="wrapper">
    <!-- <div id="landing-page" class="panels bg-one"> -->
    <div class="container-fluid overlay" id="home-page">  
      <div id="logo-mod">
        <a href="/"><img src="/modules/core/img/brand/prologo.png" alt="PRO SERVICES" class="mod-logo1">
        </a>
      </div>
      <div id="coy-name">
        <h1 class="col-md-10 home-title col-md-offset-2">
          <span>
            <ul>
              <li class="app-title">{{translation.TRADE_MARK}}</li>
              <li><p class="nuggets">{{translation.TRADE_MARK1}}</li>
              <li><p class="nuggets" id="nuggets-2">{{translation.TRADE_MARK4}}</li>
              <li><p class="nuggets">{{translation.TRADE_MARK2}} &</p></li>
              <li><p class="nuggets">{{translation.TRADE_MARK3}}</p></li>
            </ul>
          </span>
        </h1>
      </div>
    <!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
    <video autoplay loop id="video-background" muted>
      <source src="http://static.videezy.com/system/resources/previews/000/004/053/original/Beatiful_rocks_in_the_beach.mp4" type="video/mp4">
    </video>
      
<!--  Video by Phil Fried (http://vimeo.com/philfried)  -->       
    </div>   
    <div  class="about-us-panels" id="about-us">
      <div class="col-md-8 col-md-offset-2" id="about-us-wrapper">
          <div id="axis" class="four">
            <div class="about-content">
                <h4>{{translation.WHO}}</h4>
                <p>{{translation.ABOUT_TEXTA}}
               </p> 
           </div>
            <div class="about-content">
                <h4>{{translation.WE}}</h4>
                <p>
                  {{translation.ABOUT_TEXTC}}
                </p>
            </div>
            <div class="about-content">
              <h4>{{translation.ARE}}</h4>
              <p>
                {{translation.OUR_GOALS}}
              </p>
            </div>
        </div>
     </div>
    </div>
      <div class="services-panels" id="services">
          <h3>{{translation.WHAT_DO}}</h3>

        <div class="gmail-page">
          <div class="maia-aux">
        <!--hovering over the images will pause the slideshow -->       
          <div class="carousel">
            <ul class="panes">
              <li>
                <div class="text-wrapper">{{translation.FABRICATION}}/{{translation.WELDING}}
                <p>{{translation.FABRICATE}}:<br>{{translation.CONTAINERS}} & {{translation.BASKETS}}<br>{{translation.PLATFORMS}}</p>
                <p>{{translation.Weld}}:<br>{{translation.OIL}}/{{translation.GAS}} {{translation.PIPELINES"<br>{{translation.ANY_OTHER}}
                </p>
                </div>
                <img src="/modules/core/img/brand/metalplatforms.jpg"/>
              </li>
              <li>
                <div class="text-wrapper">{{translation.SAFETY_WEARS}}/{{translation.EQUIPEMENTS}}/{{translation.DEVICES}}
                <p>{{translation.SAFETY_WEARS1}}</p><p>{{translation.SAFETY_EQIPE}}</p><p>{{translation.SAFETY_DEVICES}}</p>
                </div>
                <img src="/modules/core/img/brand/safetywears.jpg" alt="">
              </li>
              <li>
                <div class="text-wrapper">{{translation.PROCUREMENT}}
                <p>{{translation.HANDLE_PROC}}</p>
                </div>
                <img src="/modules/core/img/brand/PurchaseOrder.jpg" alt="">
              </li>
              <li>
                <div class="text-wrapper">{{RENTALS}}
                  <p>{{translation.LEASE}}:</p><p>{{translation.HOMES}}</p><p>{{translation.OFFICE_SPACE}}</p><p>{{translation.VEHICLES}}</p>
                </div>
                <img src="/modules/core/img/brand/houses.jpg" alt="">
              </li>
              <li>
                <div class="text-wrapper">{{translation.WASTE_DISPOSAL}}<p>{{translation.INDUSTRIAL_WASTE}}</p></div>
                <img src="/modules/core/img/brand/wastedisposal.jpg" alt="">
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div> 
      <div class="clients-panel" id="clients">
        <div class="row">
          <ul id="clients-nav" class="content">  
            <li>
              <img src="/modules/core/img/brand/kca.jpg"/>
            </li>
            <li>
              <img src="/modules/core/img/brand/piontecelli.jpg"/>
            </li>
            <li>
              <img src="/modules/core/img/brand/vanoord.png"/>
            </li>
            <li>
              <img src="/modules/core/img/brand/weatherford.png"/>
            </li>
            <li>
              <img src="/modules/core/img/brand/perenco.jpg"/>
            </li>
            <li>
              <img src="/modules/core/img/brand/Foraserve.jpg"/>
            </li>
            <li>
              <img src="/modules/core/img/brand/vantage.jpg"/>
            </li>
            <li>
              <img src="/modules/core/img/brand/shelf.png"/>
            </li>
            <li>
              <img src="/modules/core/img/brand/noble.jpg"/>
            </li>
            <li>
              <img src="/modules/core/img/brand/EDC.png"/>
            </li>
          </ul>  
        </div>
      </div>
      <div class="contact-us-panels" id="contact-us">
        <h3 data-ng-show="hideContactHeader">{{translation.ASK_QUEST}}</h3>
        <div id="contact-note" data-ng-show="showContactNote"> 
            <p>{{translation.WRITE_US}}<br>{{translation.CALL_US}}<br>{{translation.VIDEO_CALL}}</p>
        </div> 
        <div class="col-md-8 contact-us-wrapper col-md-offset-2">
          <div data-ng-hide="showContactForm">
          <a  id="close-Btn" href="" data-ng-click="closeContactForm()">{{translation.CLOSE}}</a>
            <div id="form-main">
              <div id="form-div">
                <form class="form" id="form1"> 
                  <p class="name">
                    <input name="name" ng-model="user.name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
                  </p>
                  
                  <p class="email">
                    <input name="email" ng-model="user.email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
                  </p>
                  
                  <p class="text">
                    <textarea name="text" ng-model="user.comment" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Details"></textarea>
                  </p>
                  <div class="submit">
                    <input type="submit" value="SEND" id="button-blue" ng-click="sendMail()"/>
                    <div class="ease"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div data-ng-show="showContactList">
            <div id="contact-box">
              <p class="contact-icons"><img src="/modules/core/img/brand/telephone.png"/>+241 (0) 1-56-89-06</p>
              <p class="contact-icons"><img src="/modules/core/img/brand/mobile.png"/>+241 (0) 07-38-82-58</p>
              <p class="contact-icons"><img src="/modules/core/img/brand/mobile.png"/>+241 (0) 05-82-50-01</p>
              <p class="contact-icons"><a data-ng-click="showContactFormCtrl()"><img src="/modules/core/img/brand/email.png"/>info@proservice.com, sales@proservice.com</a></p>
            </div>  
          </div>
        </div>
      </div>
      <div id="location-wrapper" class="location-panels">
      <div class="col-md-8 locate-wrapper col-md-offset-2">
        <h3 data-ng-hide="mapToggle">{{translation.LOOKING_FOR}}</h3>
        <div>
            <div data-ng-show="toggleMap">
              <a href="" data-ng-click="toggleMapClose()">{{translation.CLOSE}}</a>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.4927532797024!2d8.781482514322812!3d-0.7319547854780628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a83b771a6f4f7b5%3A0x90f670714d51f67!2s%C3%89glise+Ste+Barbe%2C+Port-Gentil%2C+Gabon!5e0!3m2!1sen!2s!4v1452812455097" width="880px" height="500px" frameborder="0" style="border:0;" allowfullscreen>
              </iframe>     
            </div>
            <div id="locate-title" data-ng-hide="mapToggle1"> 
              <p>{{translation.WE_ARE}}<br>{{translation.FEEL_FREE}}<br>
              {{translation.CHEERS}}</p>

              <div class="chi-bot"><a data-ng-click="mapTrigger()">{{translation.VISIT}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer" class="footer-panels">
          <div class="language-select" id="footer-lang-select">
                <h4 id="select-title">English / Francais</h4>
                 <select class="form-control" ng-change="translate()" ng-model="selectedLanguage">
                      <option value="en">English</option>
                      <option value="por">Francais</option>
                  </select>
          </div>
          <ul id="footer-nav">  
            <li class="hover">
              <a ng-href="#home-page"><img src="/modules/core/img/brand/homee.png"/></a><div class="tooltip">{{translation.HOME_PRO}}</div>
            </li>
            <li class="hover">
              <a ng-href="#about-us"><img src="/modules/core/img/brand/aboutpro.png"/></a><div class="tooltip1">{{translation.ABOUT_US}}</div>
            </li>
            <li class="hover">
          <a href="#services"><img src="/modules/core/img/brand/services.png"/></a><div class="tooltip2">{{translation.SERVICES_PRO}}</div>
            </li>
            <li class="hover">
              <a href="#clients"><img src="/modules/core/img/brand/customers.png"></a><div class="tooltip3">{{translation.CLIENTS_PRO}}</div>
            </li>
            <li class="hover">
              <a href="#contact-us"><img src="/modules/core/img/brand/contact.png"></a><div class="tooltip4">{{translation.CONTACT_US}}</div>
            </li>
          </ul>  
          <ul id="footer-img">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                  <a href="#"><img src="/modules/core/img/brand/FacebookIcon.png"/></a>
              </li>
              <li>
                  <a href="#"><img src="/modules/core/img/brand/TwitterIcon.png"/></a>
              </li>
              <li>
                  <a href="#"><img src="/modules/core/img/brand/LinkedInIcon.png"/></a>
              </li>
          </ul>
      </div>
  </div>
</section>

                