<section data-ng-controller="HomeController" id="mod-container">
    <div class="modal-header">
        <div id="mod-header">
            <span class="glyphicon glyphicon-remove pull-right" data-ng-click="cancel()" style="margin:10px">
            </span>
            <ul>
                <li>
                    <div class="heading">
                        <div id="logo-mod"><a href="/"><img src="/modules/core/img/brand/logo.png" alt="PRO SERVICE" data-pin-nopin="true" class="mod-logo"></a></div>   
                    </div></li>
                
                <li>
                    <div id="link-mod" class="mod-header-heading">
                        <ul>
                            <li><h4 id="mod-trade-mark">A professional and reliable service provider for oil and gas companies</h4></li>
                        </ul>   
                    </div> </li>
            </ul>      
        </div>
    </div>
    <div class="modal-body"> 
        <div id="link-mod">      
          <ul>
                <li class="mnu-hed"><a href="#!">Home</a></li>
                <li><a href="/">Services</a></li>
                <li class="mnu-hed"><a href="/about-cis/">About-Us</a></li>
                <li><a href="/about-cis/welcome/">Mission Statement</a></li>
                <li><a href="/about-cis/history/">Clients</a></li>
                <li><a href="/about-cis/why-cis/">Office</a></li>
                <li><a href="/about-cis/testimonials/">Locate-Us</a></li>
            </ul>  
        </div> 
                                            
    </div>
    <div class="modal-footer"> 
        <div id="mod-footer">
            <ul>
                <li><a href="/contact">Contact-Us:</a></li>
                <li>
                    <div id="in-bt-lf">
                        <div class="padd">
                            
                            <div class="in-bt-lf-txt"><p><strong>Cambridge International School</strong></p>
                            <p><strong>Admissions enquiry email:</strong> <a href="mailto:admissions@cischool.co.uk">admissions@cischool.co.uk</a>
                            <strong>Admissions tel.</strong><span>: +44 (0) 1223 </span><span class="s1">778290</span></p>
                                <table border="0" width="749" height="547">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                <p style="text-align: left;"><strong>Junior School</strong><br> Cherry Hinton Hall<br> Cherry Hinton Road<br> Cambridge<br> CB1 8DW</p>
                                                <p style="text-align: left;"><strong>Tel:</strong> +44 (0) 1223 416938</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul> 
        </div>
    </div>
    
</section>