<section data-ng-controller="HomeController" id="mod-container">
    <div class="modal-header">
        <div id="mod-header">
        


            <span class="glyphicon glyphicon-remove pull-right" data-ng-click="cancel()" style="margin:10px">
            </span>
            <ul>
                <li>
                    <div class="heading">
                        <div id="logo-mod"><a href="/"><img src="/modules/core/img/brand/logo.png" alt="PRO SERVICE" data-pin-nopin="true" class="mod-logo"></a></div>   
                    </div></li>
                        </ul>   
                    </div> </li>
            </ul>      
        </div>
    </div>
    <div class="modal-body"> 
        <div id="link-mod">      
          <ul>
                <li class="mnu-hed"><a href="#!" class="arcor">Home</a></li>
                <li><a href="/" class="arcor">About Us</a></li>
                <li class="mnu-hed"><a href="/about-cis/" class="arcor">Services</a></li>
                <li><a href="/about-cis/welcome/" class="arcor">Mission</a></li>
                <li><a href="/about-cis/history/" class="arcor">Clients</a></li>
                <!-- <li><a href="/about-cis/why-cis/" class="arcor">Office</a></li> -->
                <li><a href="/about-cis/testimonials/" class="arcor">Locate-Us</a></li>
            </ul>  
        </div> 
                                            
    </div>
    <div class="modal-footer"> 
        <div id="mod-footer">
            <ul>
                <li class="arcora">Contact-Us:</li><br><br><br>
                <li>
                    <div id="in-bt-lf">
                        <div class="padd">
                            
                            <div class="in-bt-lf-txt"><p><strong></strong></p>
                            <!-- <p><strong>Sales enquiry email:</strong> 
                            <strong>tel.</strong><span>: +44 (0) 1223 </span><span class="s1">778290</span></p> -->
                                <table border="0" width="100%" height="547">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                <p style="text-align: justify;"><strong>Sales enquiry</strong><br></p>
                                                <p style="text-align: left;"><strong>Email:</strong><a href="mailto:admissions@cischool.co.uk">admissions@cischool.co.uk</a> </p>
                                                <p style="text-align: left;"><strong>Tel:</strong> +44 (0) 1223 416938</p>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <p style="text-align: justify;"><strong>PRO-Team</strong><br><br> We have a team of awesome people<br> Who work in the office & <br>On the fields</p>
                                                <p style="text-align: justify;">They are client-satisfaction oriented<br> Very apt, professional and friendly<br>Very awesome people</p>
                                            </td>  
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                <p style="text-align: justify;"><strong>General enquiry</strong><br> Cherry Hinton Hall<br> Cherry Hinton Road<br> Cambridge<br> CB1 8DW</p>
                                                <p style="text-align: left;"><strong>Email:</strong><a href="mailto:admissions@cischool.co.uk">admissions@cischool.co.uk</a> </p>
                                                <p style="text-align: justify;"><strong>Tel:</strong> +44 (0) 1223 416938</p>
                                            </td>
                                            <td>    
                                            </td>  
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul> 
        </div>
    </div>
    
</section>