<section data-ng-controller="HomeController" id="mod-container">
    <div class="modal-header">
        <div id="mod-header">
        


            <span class="glyphicon glyphicon-remove pull-right" data-ng-click="cancel()" style="margin:10px">
            </span>
            <ul>
                <li>
                    <div class="heading">
                        <div id="logo-mod"><a href="/"><img src="/modules/core/img/brand/logo.png" alt="PRO SERVICE" data-pin-nopin="true" class="mod-logo"></a></div>   
                    </div></li>
                        </ul>   
                    </div> </li>
            </ul>      
        </div>
    </div>
    <div class="modal-footer"> 
        <div id="mod-footer">
            <ul>
                <li>
                    <div id="in-bt-lf">
                        <div class="padd">
                            
                            <div class="in-bt-lf-txt"><p><strong></strong></p>
                                <table border="0" width="100%" height="547">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                <p style="text-align: justify;"><strong>Safety Materials/Tools/Equipments/Devices</strong><br> We supply the following: </p>
                                                <p style="text-align: left;"><strong>Materials</strong></p>
                                                <p style="text-align: justify;">Coveralls</p>
                                                <p style="text-align: justify;">Boots</p>
                                                <p style="text-align: justify;">Gloves</p>
                                                <p style="text-align: justify;">Caps</p>
                                                <p style="text-align: justify;">Life JAckets</p>
                                                <p style="text-align: justify;">Belts</p>
                                            </td>  
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                <p style="text-align: justify;"><strong>Tools</strong><br></p>
                                                <p style="text-align: justify;"></p>
                                            </td>  
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                <p style="text-align: justify;"><strong>Equipments</strong><br></p>
                                                <p style="text-align: justify;"></p>
                                            </td>  
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top;">
                                                <p style="text-align: justify;"><strong>Devices</strong><br></p>
                                                <p style="text-align: justify;"></p>
                                            </td>  
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul> 
        </div>
    </div>
    
</section>